PyPDF2==3.0.1
requests==2.31.0
pandas
openpyxl
flask
django
djangorestframework
celery
redis
django-cors-headers
python-dotenv
django-celery-results
django-celery-beat
pymysql
pymupdf
pillow
bibtexparser
rispy
